<!DOCTYPE html>
<html lang="en" class="relative min-h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Barbershop Booking</title>
    <!-- Importing Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% load static %}

</head>
<body class="text-gray-800 relative min-h-full {% if request.path != '/dashboard/' %}bg-cover bg-center bg-no-repeat bg-opacity-10 backdrop-blur-lg{% endif %}">
    <!-- ========== HEADER ========== -->
    {% block header %}
    <header class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-white text-sm py-3 dark:bg-neutral-800">
        <nav class="max-w-[85rem] w-full mx-auto px-4 flex flex-wrap basis-full items-center justify-between relative z-50">
            <a class="sm:order-1 flex-none text-xl font-semibold dark:text-white focus:outline-none focus:opacity-80" href="{% url 'schedule' %}">Hamaspera</a>
            <div class="sm:order-3 flex items-center gap-x-2">
           
                <div id="auth-links">
                    <!-- Authentication links will be dynamically inserted here -->
                </div>
            </div>
           
        </nav>
    </header>
    {% endblock %}
    <!-- ========== END HEADER ========== -->

    <!-- Main Content Section -->
    <main class="container mx-auto px-4 py-6 min-h-screen md:py-12 md:px-8">
        {% block content %}
        {% endblock %}
    </main>

    <!-- ========== FOOTER ========== -->
    <footer class="bg-gray-200 text-center py-4 mt-auto">
        <div class="container mx-auto">
            <p class="text-gray-700">© 2024 Hamaspera.<a href="mailto:info@hamaspera.com" style="color: gray-500;">info@hamaspera.com</a></p>
        </div>
    </footer>
    <!-- ========== END FOOTER ========== -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.5.2/cdn.js" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const userId = localStorage.getItem('userId');
            const authLinks = document.getElementById('auth-links');
            if (userId) {
                authLinks.innerHTML = `
                    <div class="relative">
                        <button class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg bg-white text-gray-800 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            Menu
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                            </svg>
                        </button>
                        <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 ring-1 ring-black ring-opacity-5 hidden" id="user-menu">
                            <a href="{% url 'dashboard' %}" class="block px-6 py-4 text-sm text-gray-700 hover:bg-gray-100">
                                <img src="{% static 'scheduler/img/image1.png' %}" alt="Dashboard Icon" class="inline-block w-4 h-4 mr-2">
                                Dashboard
                            </a>
                            <a href="{% url 'edit' %}" class="block px-6 py-4 text-sm text-gray-700 hover:bg-gray-100">
                                <img src="{% static 'scheduler/img/image2.png' %}" alt="Edit Icon" class="inline-block w-4 h-4 mr-2">
                                Edit
                            </a>
                            <a href="{% url 'orders_history' %}" class="block px-6 py-4 text-sm text-gray-700 hover:bg-gray-100">
                                <img src="{% static 'scheduler/img/image3.png' %}" alt="Orders Icon" class="inline-block w-4 h-4 mr-2">
                                Orders
                            </a>
                            <a href="{% url 'employees' %}" class="block px-6 py-4 text-sm text-gray-700 hover:bg-gray-100">
                                <img src="{% static 'scheduler/img/image4.png' %}" alt="Employees Icon" class="inline-block w-4 h-4 mr-2">
                                Employees
                            </a>
                            <a href="#" onclick="logout()" class="block px-6 py-4 text-sm text-gray-700 hover:bg-red-100">
                                <img src="{% static 'scheduler/img/image5.png' %}" alt="Log Out Icon" class="inline-block w-4 h-4 mr-2">
                                Log Out
                            </a>
                        </div>
                    </div>
                `;
            } else {
                authLinks.innerHTML = `
                    <a href="{% url 'about' %}" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg  bg-white text-gray-800 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">About</a>
                    <a href="{% url 'login' %}" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg  bg-white text-gray-800 hover:bg-green-100 focus:outline-none focus:bg-green-100 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">Login</a>
                `;
            }

            // Toggle dropdown menu
            const userMenuButton = document.getElementById('user-menu-button');
            const userMenu = document.getElementById('user-menu');

            userMenuButton.addEventListener('click', () => {
                const isExpanded = userMenuButton.getAttribute('aria-expanded') === 'true';
                userMenuButton.setAttribute('aria-expanded', !isExpanded);
                userMenu.classList.toggle('hidden');
            });

            document.addEventListener('click', (event) => {
                if (!userMenuButton.contains(event.target) && !userMenu.contains(event.target)) {
                    userMenu.classList.add('hidden');
                    userMenuButton.setAttribute('aria-expanded', 'false');
                }
            });
        });
    
        function logout() {
            // Remove userId from local storage
            localStorage.removeItem('userId');
            
            // Redirect to login page
            window.location.href = "/login"; // Change this URL to your actual login page
        }
    </script>
    
    {% block scripts %}{% endblock %}
</body>
</html>