{% extends 'scheduler/base.html' %}

{% block content %}
<div class="min-h-full">
    <div class="mb-4 mt-8">
        <h2 class="text-4xl font-bold text-gray-900">Edit Business</h2>
    </div>

<!-- Background Image with logo overlay and edit icons -->
<div class="relative mb-8">
    <img id="background" alt="Business Background" class="w-full h-96 object-cover rounded-md shadow">
    
    <div class="absolute inset-0 flex justify-center items-center">
        <div class="relative">
            <!-- Business Logo -->
            <img id="image_url" alt="Business Logo" class="w-48 h-48 rounded-full border-4 border-white object-cover shadow-lg">
            
            <!-- Edit icon centered on the logo -->
            <div class="absolute inset-0 flex justify-center items-center">
                <button id="editLogoButton" class="p-2 bg-gray-100 rounded-full shadow hover:bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                </button>
                <input type="file" id="businessLogo" accept="image/*" class="hidden" />
            </div>
        </div>
    </div>
    
    <!-- Edit icon for background image remains as is -->
    <div class="absolute bottom-2 right-2">
        <button id="editBackgroundButton" class="p-2 bg-gray-100 rounded-full shadow hover:bg-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
        </button>
        <input type="file" id="businessBackground" accept="image/*" class="hidden" />
    </div>
</div>

    <!-- Edit Business Info -->
    <div class="min-w-full">
        <div class="mt-6 bg-white rounded-lg shadow-md p-6">
            <h2 class="text-lg font-bold mb-4">You can edit your business information here</h2>
            <form id="editBusinessForm">
                <div class="form-group mb-4">
                    <label for="businessName" class="block text-lg font-medium text-gray-700">Business Name</label>
                    <input type="text" id="businessName" required class="mt-4 block w-full shadow-sm sm:text-base border-gray-300 rounded-md" />
                </div>
                <div class="form-group mb-4">
                    <label for="businessAddress" class="block text-lg font-medium text-gray-700">Address</label>
                    <input type="text" id="businessAddress" required class="mt-4 block w-full shadow-sm sm:text-base border-gray-300 rounded-md" />
                </div>
                <div class="form-group mb-4">
                    <label for="businessInstagram" class="block text-lg font-medium text-gray-700">Instagram Link</label>
                    <input type="url" id="businessInstagram" placeholder="https://www.instagram.com/yourbusiness" class="mt-4 block w-full shadow-sm sm:text-base border-gray-300 rounded-md" />
                </div>
                <div class="form-group mb-4">
                    <label for="businessPhone" class="block text-lg font-medium text-gray-700">Phone</label>
                    <input type="tel" id="businessPhone" required class="mt-4 block w-full shadow-sm sm:text-base border-gray-300 rounded-md" />
                </div>
                <div class="form-group mb-4">
                    <label for="businessService" class="block text-lg font-medium text-gray-700">About</label>
                    <input type="text" id="businessService" required class="mt-4 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                </div>
                <button type="submit" class="inline-flex justify-center py-2 px-4 bg-black text-white font-medium rounded-md hover:bg-gray-900">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-app.js";
    import { getFirestore, query, where, getDocs, collection, updateDoc, doc } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-firestore.js";
    import { getStorage, ref, uploadBytesResumable, getDownloadURL } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-storage.js";


    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);
    const storage = getStorage(app);

    const userId = localStorage.getItem('userId');

    async function fetchBusinessData(userId) {
        try {
            const q = query(collection(db, "businesses"), where("uid", "==", userId));
            const querySnapshot = await getDocs(q);

            if (!querySnapshot.empty) {
                const docSnap = querySnapshot.docs[0];
                const data = docSnap.data();
                document.getElementById('businessName').value = data.business_name || '';
                document.getElementById('businessAddress').value = data.address || '';
                document.getElementById('businessInstagram').value = data.instagram || '';
                document.getElementById('businessPhone').value = data.phone || '';
                document.getElementById('businessService').value = data.service || '';
                document.getElementById('image_url').src = data.image_url;
                document.getElementById('background').src = data.background;
            } else {
                alert('No business document found for this user.');
            }
        } catch (error) {
            console.error('Error fetching business data:', error);
        }
    }

    function handleImageUpload(fileInput, updateField) {
        const file = fileInput.files[0];
        if (file) {
            const storageRef = ref(storage, `businessImages/${userId}/${file.name}`);
            const uploadTask = uploadBytesResumable(storageRef, file);

            uploadTask.on('state_changed', null, null, async () => {
                const downloadURL = await getDownloadURL(storageRef);
                updateField.src = downloadURL;
                // Update the business document
                const q = query(collection(db, "businesses"), where("uid", "==", userId));
                const querySnapshot = await getDocs(q);
                if (!querySnapshot.empty) {
                    const docSnap = querySnapshot.docs[0];
                    const docRef = doc(db, "businesses", docSnap.id);
                    await updateDoc(docRef, { [updateField.id]: downloadURL });
                }
            });
        }
    }

    document.getElementById('editBackgroundButton').onclick = () => document.getElementById('businessBackground').click();
    document.getElementById('editLogoButton').onclick = () => document.getElementById('businessLogo').click();

    document.getElementById('businessBackground').onchange = () => handleImageUpload(document.getElementById('businessBackground'), document.getElementById('background'));
    document.getElementById('businessLogo').onchange = () => handleImageUpload(document.getElementById('businessLogo'), document.getElementById('image_url'));

    // Handle form submission
    document.getElementById('editBusinessForm').addEventListener('submit', async (e) => {
        e.preventDefault(); // Prevent default form submission behavior

        try {
            const businessName = document.getElementById('businessName').value;
            const businessAddress = document.getElementById('businessAddress').value;
            const businessInstagram = document.getElementById('businessInstagram').value;
            const businessPhone = document.getElementById('businessPhone').value;
            const businessService = document.getElementById('businessService').value;

            // Fetch the business document
            const q = query(collection(db, "businesses"), where("uid", "==", userId));
            const querySnapshot = await getDocs(q);

            if (!querySnapshot.empty) {
                const docSnap = querySnapshot.docs[0];
                const docRef = doc(db, "businesses", docSnap.id);

                // Update the document with the new values
                await updateDoc(docRef, {
                    business_name: businessName,
                    address: businessAddress,
                    instagram: businessInstagram,
                    phone: businessPhone,
                    service: businessService
                });

                alert("Business information updated successfully!");
            } else {
                alert("Business document not found.");
            }
        } catch (error) {
            console.error('Error updating business data:', error);
        }
    });

    // Fetch data when the page loads
    window.onload = () => {
        fetchBusinessData(userId);
    };
</script>
{% endblock %}
