{% extends 'scheduler/base.html' %}

{% block content %}
<body class="bg-white">
    <div class="min-h-full">
        <div class="mb-4 mt-8">
            <h2 class="text-4xl font-bold text-gray-900">Order Management</h2>
        </div>

        <!-- Order Table -->
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="py-2 px-4 border-b text-xl font-medium text-gray-700 uppercase tracking-wider">Phone</th>
                        <th class="py-2 px-4 border-b text-xl font-medium text-gray-700 uppercase tracking-wider">Service</th>
                        <th class="py-2 px-4 border-b text-xl font-medium text-gray-700 uppercase tracking-wider">Employee</th>
                        <th class="py-2 px-4 border-b text-xl font-medium text-gray-700 uppercase tracking-wider">Date & Time</th>
                        <th class="py-2 px-4 border-b text-xl font-medium text-gray-700 uppercase tracking-wider">Status</th>
                    </tr>
                </thead>
                <tbody id="orderTableBody">
                    <!-- Orders will be populated here -->
                </tbody>
            </table>
        </div>
    </div>


    <script type="module">
        // Initialize Firestore
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-app.js";
        import { getFirestore, collection, query, where, getDocs, updateDoc, doc } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-firestore.js";

        const firebaseConfig = {
            apiKey: "AIzaSyDdn3sQrXDz9lGzmCsU7sIfazS56K4ScLI",
            authDomain: "barbershop-77353.firebaseapp.com",
            projectId: "barbershop-77353",
            storageBucket: "barbershop-77353.appspot.com",
            messagingSenderId: "1018170430611",
            appId: "1:1018170430611:web:3667f5a317d34e0e2ea966",
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const db = getFirestore(app);

        async function fetchAllOrders() {
            const uid = localStorage.getItem('userId'); // Retrieve UID from local storage
            const ordersQuery = query(collection(db, 'orders'), where('store', '==', uid)); // Query to fetch orders by userId
            const ordersSnapshot = await getDocs(ordersQuery);
            const orderTableBody = document.getElementById('orderTableBody');

            ordersSnapshot.forEach(doc => {
                const orderData = doc.data();
                const row = createOrderRow(orderData, doc.id);
                orderTableBody.appendChild(row);
            });
        }

        function createOrderRow(orderData, id) {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td class="py-2 px-4 border-b text-center">${orderData.phone}</td>
                <td class="py-2 px-4 border-b text-center">${orderData.service}</td>
                <td class="py-2 px-4 border-b text-center">${orderData.employee}</td>
                <td class="py-2 px-4 border-b text-center">${formatDate(orderData.datetime)}</td>
                <td class="py-2 px-4 border-b text-center">
                    <select onchange="changeOrderStatus('${id}', this.value)" class="border rounded">
                        <option value="new" class="text-gray-700" ${orderData.status === 'new' ? 'selected' : ''}>New</option>
                        <option value="confirmed" class="text-gray-700" ${orderData.status === 'confirmed' ? 'selected' : ''}>Confirmed</option>
                        <option value="declined" class="text-gray-700" ${orderData.status === 'declined' ? 'selected' : ''}>Canceled</option>
                    </select>
                </td>
            `;
            return row;
        }

        window.changeOrderStatus = async function(orderId, newStatus) {
            const orderRef = doc(db, 'orders', orderId);

            try {
                await updateDoc(orderRef, { status: newStatus });
                console.log(`Order ${orderId} status updated to ${newStatus}.`);
            } catch (error) {
                console.error('Error updating order status:', error);
            }
        };

        // Function to format date to a human-readable format without seconds
        function formatDate(timestamp) {
            const date = new Date(timestamp);
            const options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                hour12: true
            };
            return date.toLocaleString(undefined, options).replace(/:\d{2} /, ' '); // Remove seconds
        }

        // Fetch all orders when the page loads
        fetchAllOrders();
    </script>
       {% endblock %}
