{% extends 'scheduler/base.html' %}

{% block content %}

<div id="register-container" class="container mt-5 max-w-md">
  <h1 class="text-4xl dark:text-white mb-4">Business Registration</h1>
  <div class="row justify-content-center ">
      <div class="col-md-6">

          <!-- Step 1: Basic Info -->
          <form id="step-1" class="needs-validation mb-4 max-w-sm" novalidate style="display: block;">
              <h3 class="text-2xl dark:text-white mb-4">Step 1: <mark>Basic Info</mark></h3>
              <div class="form-group mb-3 max-w-sm">
                  <label for="business-name" class="block text-sm font-medium mt-4 dark:text-white">Business Name</label>
                  <input type="text" id="business-name" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 mt-2" placeholder="Business Name" required>
                  <h5 class="text-sm text-gray-500 mt-2">Please enter your business name.</h5>
              </div>

              <div class="form-group mb-3 max-w-sm">
                  <label for="email" class="block text-sm font-medium mt-4 dark:text-white">Email</label>
                  <input type="email" id="email" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 mt-2" placeholder="you@site.com" required>
                  <h5 class="text-sm text-gray-500 mt-2">Please enter a valid email address.</h5>
              </div>

              <div class="form-group mb-3 max-w-sm">
                  <label for="password" class="block text-sm font-medium mt-4 dark:text-white">Password</label>
                  <input type="password" id="password" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 mt-2" placeholder="Password" required>
                  <h5 class="text-sm text-gray-500 mt-2">Please enter your password.</h5>
              </div>

              <button type="button" class="btn btn-primary w-100" onclick="nextStep(1)">Next ></button>
          </form>

          <!-- Step 2: Address & Phone -->
          <form id="step-2" class="needs-validation" novalidate style="display: none;">
              <h3 class="text-2xl dark:text-white mb-4">Step 2: <mark>Address & Phone</mark></h3>
              <div class="form-group mb-3 max-w-sm">
                  <label for="address" class="block text-sm font-medium mb-2 dark:text-white">Address</label>
                  <input type="text" id="address" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 mt-2" placeholder="Address" required>
                  <h5 class="text-sm text-gray-500 mt-2">Please enter your address.</h5>
              </div>

              <div class="form-group mb-3 max-w-sm">
                  <label for="phone" class="block text-sm font-medium mb-2 dark:text-white">Phone</label>
                  <input type="text" id="phone" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600 mt-2" placeholder="Phone" required>
                  <h5 class="text-sm text-gray-500 mt-2">Please enter your phone number.</h5>
              </div>

              <!-- Business Type -->
              <div class="form-group mb-3 max-w-sm">
                  <label for="service" class="block text-sm font-medium mb-2 dark:text-white">Service</label>
                  <select id="service" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" required>
                      <option value="" disabled selected>Select a Service</option>
                      <option value="Barber Shop">Barber Shop</option>
                      <option value="Nail Salon">Nail Salon</option>
                      <option value="Spa">Spa</option>
                  </select>
                  <h5 class="text-sm text-gray-500 mt-2">Please select a service.</h5>
              </div>

              <button type="button" class="btn btn-secondary text-gray-500 mt-2" onclick="prevStep(2)"> < Previous |</button>
              <button type="button" class="btn btn-primary w-100 mt-2" onclick="nextStep(2)">Next ></button>
          </form>

          <!-- Step 3: Upload Images -->
          <form id="step-3" class="needs-validation" novalidate style="display: none;">
              <h3 class="text-2xl dark:text-white mb-4">Step 3: <mark>Upload Images</mark></h3>
              <div class="form-group mb-3 max-w-sm">
                  <label for="logo" class="block text-sm font-medium mb-2 dark:text-white">Upload Logo</label>
                  <input type="file" id="logo" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" accept="image/*" onchange="uploadImage('logo')">
                  <div id="logo-progress" class="progress mt-2" style="display: none;">
                      <div id="logo-progress-bar" class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                  </div>
              </div>

              <div class="form-group mb-3 max-w-sm">
                  <label for="background" class="block text-sm font-medium mb-2 dark:text-white">Upload Background Image</label>
                  <input type="file" id="background" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" accept="image/*" onchange="uploadImage('background')">
                  <div id="background-progress" class="progress mt-2" style="display: none;">
                      <div id="background-progress-bar" class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                  </div>
              </div>

              <button type="button" class="btn btn-secondary text-gray-500 mt-2" onclick="prevStep(3)"> < Previous |</button>
              <button type="submit" class="btn btn-primary w-100 mt-2"><mark>Submit</mark></button>
          </form>

          <div id="message" class="mt-3"></div>
      </div>
  </div>
</div>

<script type="module">
  // Firebase SDK Imports
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js";
  import { getFirestore, collection, addDoc } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore.js";
  import { getAuth, createUserWithEmailAndPassword, sendEmailVerification } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js";
  import { getStorage, ref, uploadBytesResumable, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-storage.js";

  // Firebase configuration
  const firebaseConfig = {
      apiKey: "AIzaSyDdn3sQrXDz9lGzmCsU7sIfazS56K4ScLI",
      authDomain: "barbershop-77353.firebaseapp.com",
      projectId: "barbershop-77353",
      storageBucket: "barbershop-77353.appspot.com",
      messagingSenderId: "1018170430611",
      appId: "1:1018170430611:web:3667f5a317d34e0e2ea966",
      measurementId: "G-4VS048B47G"
  };

  const app = initializeApp(firebaseConfig);
  const db = getFirestore(app);
  const auth = getAuth(app);
  const storage = getStorage(app);

  // Step Navigation Functions
  window.nextStep = function(currentStep) {
      const nextStep = currentStep + 1;
      document.getElementById(`step-${currentStep}`).style.display = 'none'; // Hide current step
      document.getElementById(`step-${nextStep}`).style.display = 'block'; // Show next step
  }

  window.prevStep = function(currentStep) {
      const prevStep = currentStep - 1;
      document.getElementById(`step-${currentStep}`).style.display = 'none'; // Hide current step
      document.getElementById(`step-${prevStep}`).style.display = 'block'; // Show previous step
  }

  // Function to upload images with progress tracking
  window.uploadImage = function(type) {
      const fileInput = document.getElementById(type);
      const file = fileInput.files[0];

      if (file) {
          const storageRef = ref(storage, `uploads/${file.name}`);
          const uploadTask = uploadBytesResumable(storageRef, file);

          uploadTask.on('state_changed', (snapshot) => {
              const progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
              const progressBar = document.getElementById(`${type}-progress-bar`);
              const progressContainer = document.getElementById(`${type}-progress`);

              progressContainer.style.display = 'block'; // Show progress bar
              progressBar.style.width = `${progress}%`;
              progressBar.innerText = `${Math.round(progress)}%`;
          }, (error) => {
              console.error('Upload error:', error);
              alert('An error occurred while uploading. Please try again.');
          }, async () => {
              const downloadURL = await getDownloadURL(uploadTask.snapshot.ref);
              console.log('File available at', downloadURL);
              // Optionally save the download URL in Firestore or another database
          });
      } else {
          alert('Please select a file to upload.');
      }
  }

  document.getElementById('step-3').addEventListener('submit', async (event) => {
    event.preventDefault();

    const businessName = document.getElementById('business-name').value;
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const address = document.getElementById('address').value;
    const phone = document.getElementById('phone').value;
    const service = document.getElementById('service').value;
    const logoFile = document.getElementById('logo').files[0]; // File object for the logo
    const backgroundFile = document.getElementById('background').files[0]; // File object for the background

    try {
        // Create user in Firebase Authentication
        const userCredential = await createUserWithEmailAndPassword(auth, email, password);
        const user = userCredential.user;

        // Send email verification
        await sendEmailVerification(user);
        document.getElementById('message').innerText = "A verification email has been sent to your email address.";

        // Initialize URLs to empty strings if no file is uploaded
        let imageUrl = '';
        let backgroundUrl = '';

        // Upload logo and get the download URL if a file is selected
        if (logoFile) {
            const logoUploadTask = uploadBytesResumable(ref(storage, `logos/${logoFile.name}`), logoFile);
            await logoUploadTask;  // Wait for the upload to finish
            imageUrl = await getDownloadURL(logoUploadTask.snapshot.ref);  // Get the logo's download URL
        }

        // Upload background and get the download URL if a file is selected
        if (backgroundFile) {
            const backgroundUploadTask = uploadBytesResumable(ref(storage, `backgrounds/${backgroundFile.name}`), backgroundFile);
            await backgroundUploadTask;  // Wait for the upload to finish
            backgroundUrl = await getDownloadURL(backgroundUploadTask.snapshot.ref);  // Get the background's download URL
        }

        // Save business details in Firestore with the download URLs
        await addDoc(collection(db, 'businesses'), {
            business_name: businessName,
            email: email,
            address: address,
            phone: phone,
            service: service, // Save the selected service
            uid: user.uid,
            background: backgroundUrl, // URL of the uploaded background image
            image_url: imageUrl,  // URL of the uploaded logo image
        });

    } catch (error) {
        console.error("Error registering:", error);
    }
});

      event.preventDefault();

      const businessName = document.getElementById('business-name').value;
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const address = document.getElementById('address').value;
      const phone = document.getElementById('phone').value;
      const service = document.getElementById('service').value;
      const image = document.getElementById('logo').files[0];
      const background = document.getElementById('background').value[0];

      try {
          // Create user in Firebase Authentication
          const userCredential = await createUserWithEmailAndPassword(auth, email, password);
          const user = userCredential.user;

          // Send email verification
          await sendEmailVerification(user);
          document.getElementById('message').innerText = "A verification email has been sent to your email address.";

          // Save business details in Firestore
          await addDoc(collection(db, 'businesses'), {
              business_name: businessName,
              email: email,
              address: address,
              phone: phone,
              service: service, // Save the selected service
              uid: user.uid,
              background: background,
              image_url: image,
              // Optionally save logo and background URLs if needed
          });

          localStorage.setItem('userId', user.uid);
          window.location.href = '/login';

      } catch (e) {
          console.error("Error registering: ", e);
          document.getElementById('message').innerText = "Error occurred during registration.";
      }
  ;
</script>

{% endblock %}
