{% extends 'scheduler/base.html' %}

{% block content %}
<h2 class="text-center" style="color: #333; font-weight: bold; font-size: 2rem; margin-top: 20px;">Available Barbershops</h2>
<div id="business-list" class="list-group">
    <!-- Businesses will be dynamically loaded here -->
</div>

<script type="module">
    // Firebase SDK Imports
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js";
    import { getFirestore, collection, getDocs } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore.js";

  // Your web app's Firebase configuration
  const firebaseConfig = {
      apiKey: "AIzaSyDdn3sQrXDz9lGzmCsU7sIfazS56K4ScLI",
      authDomain: "barbershop-77353.firebaseapp.com",
      projectId: "barbershop-77353",
      storageBucket: "barbershop-77353.appspot.com",
      messagingSenderId: "1018170430611",
      appId: "1:1018170430611:web:3667f5a317d34e0e2ea966",
      measurementId: "G-4VS048B47G"
    };


    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);

    // Fetch all businesses from Firestore
    async function fetchBusinesses() {
        const businessesList = document.getElementById('business-list');
        try {
            const querySnapshot = await getDocs(collection(db, 'businesses'));

            if (querySnapshot.empty) {
                businessesList.innerHTML = '<p class="text-center">No available businesses.</p>';
            } else {
                querySnapshot.forEach((doc) => {
                    const data = doc.data();
                    const businessItem = `
                        <div class="list-group-item">
                            <h5 class="mb-1">${data.business_name}</h5>
                            <p class="mb-1">Phone: ${data.email}</p>
                            <small>Service: ${data.service}</small>
                        </div>
                    `;
                    businessesList.innerHTML += businessItem;
                });
            }
        } catch (e) {
            console.error("Error fetching businesses: ", e);
            businessesList.innerHTML = '<p class="text-center">Error loading businesses.</p>';
        }
    }

    // Call the function to fetch businesses on page load
    fetchBusinesses();
</script>
{% endblock %}
